 
    <div class="row content sidenav shadow p-3 mb-5 bg-white rounded" style="margin-left: 25px;">
        <div class="col-sm-12" >
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Invoice No</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Paind On</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                 
                  <tr>
                    <th scope="row">
                        #INV-0010 

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg" class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Richard Wilson</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$450</td>
                    <td>14 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0009

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Charliene Reed</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$200</td>
                    <td>13 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0008

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Travis Trimble</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$100</td>
                    <td>12 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0007
                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Karl Kelly</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$350</td>
                    <td>11 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0006

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Michelle Fairfax</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$275</td>
                    <td>10 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0005

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Gina Moore</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$450</td>
                    <td>9 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0004 

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Elsie Gilley</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$50</td>
                    <td>8 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0003 
                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Joan Gardner</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$400</td>
                    <td>7 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0002 

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Richard Wilson</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$550</td>
                    <td>6 Nov 2019</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">
                        #INV-0001 

                    </th>
                    <td>  
                        <div class="row content med">
                            <div class="col-sm-2 sidenav">
                                <img src="assets/Capture.jpg"  class="img-fluid" id="oui" alt="" srcset="">
                            </div>
                            <div class="col-sm-10 sidenav ch">
                                <b>Waiter Roberson</b> <br>
                                PT0016
                            </div>
                        </div>
                    </td>
                    <td>$100</td>
                    <td>5 Nov 2019</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>           
        </div>
    </div>